<!DOCTYPE html>
<html lang="zh-CN">
<!--声明语言-->

<head>
    <!--声明编码-->
    <meta charset="utf-8">
    <!--设置ie浏览器的兼容性，以最新版本兼容当前的页面-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>首页</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="">

    <!--样式表写在-->
    <style>
        nav h3{
            margin: 0;
            padding: 15px;
            color: gray
        }
        .text-left,.text-right{
            color: #2aabd2;
            font-size: 18px;
            margin: 0;
            padding: 10px;
            border: 1px #333 solid;
            height:60px;
            margin: 5px;
            border-radius: 5px;
        }

        h4{
            font-weight:bolder
        ;
        }
        .main-right{
            float: left;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header navbar-left">
                <h3>智游教育</h3>
            </div>